@charset "utf-8";

html {
	background: #96ADCF url('/images/background.jpg') top repeat-x;		 	
	height: 100%;
}

body { 
	background: url('/images/flower.jpg') no-repeat; 
	height: 100%;
}









.error {
	border: 1px solid #ff0000;
	background: #FFCABF;
}










.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */