Options +FollowSymlinks -Indexes

# Turn on URL rewriting
RewriteEngine On

# Put your installation directory here:
# If your URL is www.example.com/kohana/, use /kohana/
# If your URL is www.example.com/, use /
RewriteBase /

# Rewrite to no www
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule ^(.*)$ http://%1/$1 [L,R=301,QSA]
 
# Rewrite admin. to admin.php/URL
#RewriteCond %{HTTP_HOST} ^admin\.(.+) [NC]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule .* index.php/$0 [PT,L,QSA]

# Protect application files from being viewed
RewriteRule ^application|hanami|modules|system - [F,L]

# Do not enable rewriting for files that exist
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite to index.php/URL
RewriteRule .* index.php/$0 [PT,L,QSA]