@charset "utf-8";

@import url("reset.css") screen;

/*@import url("screen/base.css") screen;*/




body.auth {
	height: auto;
	min-height: 375px;
	padding-top: 10%;
}


.auth #page {
	background: #fff;
	border: 1px solid #0f0f0f;
	margin: 0 auto;
	padding: 1em 2em;
	width: 350px;
}



button {
	display: block;
	margin: 2em auto;
	padding: 2px .5em;
}

label {
	float: left;
	display: block;
	min-width: 4em;
}

/*label:after {
	content: ":";
}*/

input[type="text"], input[type="password"],
input.text {
	margin-left: 7.5em;
	display: block;
}








div#header {
	background: #020202;
	color: #fff;
}




ul#navigation > li {
	display: inline;
}

ul#navigation > li > ul {
	display: none;
}

ul#navigation > li:hover > ul {
	display: block;
}



table.blog {
	
}

table.blog col.author,
table.blog td.author,
table.blog th.author {
	text-align: center;
}

