Options +FollowSymlinks
 
# Turn on URL rewriting
RewriteEngine On
 
# Put your installation directory here:
# If your URL is www.example.com/kohana/, use /kohana/
# If your URL is www.example.com/, use /
RewriteBase /
 
 
# Rewrite to no www
#RewriteCond %{HTTP_HOST} ^www.(.+) [NC]
#RewriteRule ^(.*)$ http://%1/$1 [L,R=301,QSA]
 
 
# Rewrite admin. to admin.php/URL
RewriteCond %{HTTP_HOST} ^admin.(.+) [NC]
RewriteCond %{REQUEST_URI} !^/admin.php/
RewriteRule ^(.*)$ /admin.php/$1 [L,QSA]

# Rewrite /install to install.php/URL
#RewriteCond %{REQUEST_URI} ^/install/
#RewriteCond %{REQUEST_URI} !^install.php/install/
#RewriteRule ^(.*) install.php/install/$1 [PT,L,QSA]

# Do not enable rewriting for files that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

 
# Rewrite to index.php/URL
RewriteRule ^(.*)$ index.php/$1 [PT,L,QSA]